<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/editKriteria.css">
  <title>Edit Kriteria</title>
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-menu">
      <ion-icon name="desktop-outline"></ion-icon>
      <h2>Dashboard</h2>
    </div>
    <div class="icon-menu">
      <ion-icon name="person-circle-outline" class="alternatif"></ion-icon>
      <a href="/dashboard
      
      ">Data Alternatif</a>
    </div>
    <div class="icon-menu">
      <ion-icon name="server-outline" class="kriteria"></ion-icon>
      <a href="/kriteria">Data Kriteria</a>
    </div>
    <div class="icon-menu">
      <ion-icon name="podium-outline" class="penilaian"></ion-icon>
      <a href="/penilaian">Data Penilaian</a>
    </div>
  </div>
  <div class="main-content">
    <div class="judul">
      <h1>Selamat Datang admin || <span style="color: #DD2F6E;">SMP NW KALIJAGA</span></h1>
      <div class="search-bar" style="position: relative;">
        <input type="text" placeholder="Cari..." style="padding-left: 50px;">
        <ion-icon name="search-outline" style="width: 40px; height: 30px; position: absolute; left: 10px; top: 5px;"></ion-icon>
      </div>
    </div>
    <div class="edit-container">
      <h2>Edit Kriteria</h2>
      <form action="/kriteria/edit/<%= kriteria.id %>" method="post">
        <label for="nama_kriteria">Nama Kriteria:</label>
        <input type="text" name="nama_kriteria" id="nama_kriteria" value="<%= kriteria.nama_kriteria %>" required><br>
        <label for="bobot">Bobot:</label>
        <input type="number" step="0.01" name="bobot" id="bobot" value="<%= kriteria.bobot %>" required><br>
        <label for="type_kriteria">Type Kriteria:</label>
        <select name="type_kriteria" id="type_kriteria" required>
          <option value="benefit" <%= kriteria.type_kriteria === 'benefit' ? 'selected' : '' %>>Benefit</option>
          <option value="cost" <%= kriteria.type_kriteria === 'cost' ? 'selected' : '' %>>Cost</option>
        </select><br>
        <button type="submit">Simpan</button>
      </form>
    </div>
    <a href="/kriteria" class="back">Kembali</a>
  </div>
</body>
</html>
